html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  background: white;
  line-height: 1;
  color: black;
}

ol,
ul {
  list-style: none;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

@font-face {
  font-family: "SofiaPro";
  src: url("../fonts/SofiaProMedium.eot");
  src: url("../fonts/SofiaProMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SofiaProMedium.woff2") format("woff2"),
    url("../fonts/SofiaProMedium.woff") format("woff"),
    url("../fonts/SofiaProMedium.ttf") format("truetype"),
    url("../fonts/SofiaProMedium.svg#SofiaProMedium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SofiaProSemiBold";
  src: url("../fonts/SofiaPro-SemiBold.eot");
  src: url("../fonts/SofiaPro-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SofiaPro-SemiBold.woff2") format("woff2"),
    url("../fonts/SofiaPro-SemiBold.woff") format("woff"),
    url("../fonts/SofiaPro-SemiBold.ttf") format("truetype"),
    url("../fonts/SofiaPro-SemiBold.svg#SofiaPro-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SofiaProBold";
  src: url("../fonts/SofiaProBold.eot");
  src: url("../fonts/SofiaProBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SofiaProBold.woff2") format("woff2"),
    url("../fonts/SofiaProBold.woff") format("woff"),
    url("../fonts/SofiaProBold.ttf") format("truetype"),
    url("../fonts/SofiaProBold.svg#SofiaProBold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "SofiaProRegular";
  src: url("../fonts/SofiaProRegular.eot");
  src: url("../fonts/SofiaProRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SofiaProRegular.woff2") format("woff2"),
    url("../fonts/SofiaProRegular.woff") format("woff"),
    url("../fonts/SofiaProRegular.ttf") format("truetype"),
    url("../fonts/SofiaProRegular.svg#SofiaProRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.bg-fight {
  background: url(../img/background.png) center center no-repeat;
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* body {
  background: url("video.png");
  background-size: cover;
} */

/* .bgvideo {
  position: fixed;
  background-size: cover;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
} */
#video-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  background: url(../img/background.png) center center no-repeat;
  background-size: cover;
  z-index: -9999;
}

#video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

@supports (object-fit: cover) {
  #video-bg > video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-fight {
  padding: 0;
}

.bets-header {
  padding: 5% 0 4% 0;
  text-align: center;
}
.bets-header .left-gamer p {
  opacity: 0.8;
  color: #0875e6;
  font-family: "SofiaProSemiBold";
  font-size: 16px;
  line-height: 22px;
}
.bets-header h1 {
  color: #0875e6;
  font-family: "SofiaProSemiBold";
  font-size: 46px;
  padding: 0 90px;
}

.column-block {
  flex-direction: column;
  height: 900px;
}
.column-block .stage {
  width: 338px;
  height: 230px;
  border-radius: 18px;
  background: rgba(133, 133, 133, 0.6);
  margin-bottom: 11px;
}
.column-block .stage .wrapper {
  padding: 23px;
  color: #ffffff;
}
.column-block .stage .wrapper .header {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.column-block .stage .wrapper .header h3 {
  font-family: "SofiaProSemiBold";
  font-size: 24px;
  height: 35px;
}
.column-block .stage .wrapper .header p {
  font-family: "SofiaProRegular";
  font-size: 16px;
  line-height: 22px;
}
.column-block .stage .position-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  padding-right: 34px;
}
.column-block .stage .position-row div {
  width: 67px;
}
.column-block .stage .position-row p {
  height: 37px;
  line-height: 37px;
}
.column-block .stage .position-row input {
  width: 51px;
  height: 37px;
  padding-left: 12px;
  color: #6f6f6f;
  border: none;
  justify-content: space-between;
}
.column-block .stage .position-row .game-timer {
  justify-content: space-between;
}
.column-block .active-stage {
  background-color: rgba(22, 139, 238, 0.6);
}

.hint-window-fight {
  background-color: rgba(22, 151, 247, 0.54);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.close-hint {
  position: absolute;
  right: 55px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.9;
}

.close-hint:before,
.close-hint:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #ffffff;
}

.close-hint:before {
  transform: rotate(45deg);
}

.close-hint:after {
  transform: rotate(-45deg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "SofiaPro";
  font-size: 16px;
}

.bg {
  background: url(../img/jpg-01.jpg) center center no-repeat;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 785px;
  z-index: -1;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 3% 0 0 0;
}

.main {
  padding: 5% 0 3% 0;
}

.main-token-sale {
  padding: 3% 0 0 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.logo {
  margin-bottom: 3%;
}
.logo a {
  background: url("../img/Logo.png") center center no-repeat;
  display: block;
  width: 107px;
  height: 137px;
  margin: 0 auto;
  transition: all 0.3s;
}

.slogan {
  background: url("../img/BrandPhrase.png") center center no-repeat;
  background-size: contain;
  width: 933px;
  min-height: 150px;
  margin-bottom: 3%;
}
.slogan h1 {
  font-family: "SofiaProSemiBold";
  color: #0093ff;
  font-size: 65px;
  text-align: center;
  padding-bottom: 10px;
}

.try-demo {
  width: 537px;
  height: 69px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: 1px solid #1ea9ff;
  background-color: #ffffff;
  font-family: "SofiaProSemiBold";
}
.try-demo-button {
  display: inline-block;
  width: 178px;
  height: 69px;
  box-shadow: 0 3px 6px 1px rgba(18, 64, 107, 0.13), inset 0 2px 0 #58b9ff;
  border-radius: 25px;
  background-color: #1ea9ff;
  color: #ffffff;
  font-size: 21px;
  margin-top: -1px;
  margin-left: -2px;
  line-height: 68px;
  text-align: center;
  transition: all 0.3s;
}
.try-demo-button:hover {
  box-shadow: 0 7px 12px 1px rgba(18, 64, 107, 0.06);
  background-color: #ffffff;
  color: #1ea9ff;
}
.try-demo .whitelist-registration {
  color: #0093ff;
  font-size: 21px;
  padding-left: 50px;
}

nav {
  background: url("../img/Slider.png") center center no-repeat;
  background-size: contain;
  height: 98px;
}
nav .flex {
  justify-content: space-around;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}
nav ul li a {
  color: #000000;
  font-family: "SofiaPro";
  font-size: 20px;
  display: block;
  transition: all 0.3s;
}
nav ul li a:hover {
  text-shadow: -1px 0px 0px #000000;
  filter: dropshadow(color=#000000, offx=-1, offy=-1);
  filter: shadow(color=#000000, direction=135, strength=2);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2)";
}
nav ul li .active {
  text-shadow: -1px 0px 0px #000000;
  filter: dropshadow(color=#000000, offx=-1, offy=0);
  filter: shadow(color=#000000, direction=135, strength=2);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2)";
}
nav .border {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  padding: 10px 20px;
  margin: 0 25px;
}

.documents {
  background: url("../img/documents.png") center center no-repeat;
  background-size: contain;
  margin-top: 30px;
}
.documents .flex {
  flex-wrap: wrap;
  justify-content: space-around;
}
.documents .block:last-child {
  padding-top: 0;
}
.documents .wrapper {
  width: 876px;
  height: 195px;
  margin: 0 auto;
}
.documents .wrapper p {
  font-family: "SofiaProSemiBold";
  font-size: 21px;
  padding: 0 17px 0 10px;
}
.documents .wrapper a {
  color: #000000;
  position: relative;
  margin-top: 3px;
  padding-bottom: 5px;
}
.documents .wrapper a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000000;
  transition: all 0.4s;
  transform: scaleX(0);
}
.documents .wrapper a:hover::before {
  transform: scaleX(1);
}
.documents .wrapper a p {
  font-family: "SofiaProSemiBold";
  font-size: 21px;
  padding: 0 17px 0 10px;
  display: inline-block;
}
.documents .wrapper img {
  margin-left: 12px;
}
.documents .bounty,
.documents .one-paper,
.documents .whitepaper {
  width: 43px;
  height: 27px;
}
.documents .bounty {
  background: url("../img/Icon_coin_blue.png") center center no-repeat;
  background-size: contain;
}
.documents .one-paper {
  background: url("../img/icon_Paper_blue.png") center center no-repeat;
  background-size: contain;
}
.documents .whitepaper {
  background: url("../img/Icon_document-blue.png") center center no-repeat;
  background-size: contain;
}

.social {
  margin-bottom: 5%;
  margin-top: 40px;
}
.social .flex {
  margin: 0 auto;
  width: 230px;
  justify-content: space-between;
}
.social .icons {
  width: 56px;
  height: 56px;
  border-radius: 50px;
  background-color: #ffffff;
  border: 2px solid #0495fe;
  text-align: center;
  transition: all 0.3s;
}
.social .icons:hover {
  background: #0495fe;
}
.social .icons:hover i {
  color: #ffffff;
}
.social .icons i {
  line-height: 56px;
  color: #0495fe;
  font-size: 21px;
}

.footer {
  min-width: 65%;
  height: 73px;
  border: 1px solid #1ea9ff;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.75);
  justify-content: space-around;
  margin: 0 auto 3% auto;
}
.footer a {
  color: #000000;
  position: relative;
  margin-top: 5px;
  padding-bottom: 5px;
}
.footer a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1ea9ff;
  transition: all 0.4s;
  transform: scaleX(0);
}
.footer a:hover {
  color: #1ea9ff;
}
.footer a:hover::before {
  transform: scaleX(1);
}

.partners {
  background: url("../img/partners.png") center center no-repeat;
  width: 849px;
  position: relative;
  background-size: contain;
  margin: 30px auto;
}
.partners .wrapper {
  justify-content: space-between;
  width: 749px;
  height: 126px;
  margin: 0 auto;
}
.partners img {
  margin: 0 auto;
}
.partners .slick-list {
  padding: 0 !important;
}
.partners .your-class-arrow {
  display: flex;
  position: absolute;
  width: 97%;
  top: 60px;
  left: 10px;
  justify-content: space-between;
}
.partners .left-arrow {
  background: url("../img/Icon_Left_arrow-active.png") center left no-repeat;
  background-size: contain;
  width: 37px;
  height: 11px;
  cursor: pointer;
  transition: all 0.3s;
}
.partners .left-arrow:hover {
  background: url("../img/Icon_Left_arrow.png") center left no-repeat;
  background-size: contain;
}
.partners .right-arrow {
  background: url("../img/Icon_Right_arrow-active.png") center right no-repeat;
  background-size: contain;
  width: 37px;
  height: 11px;
  cursor: pointer;
  transition: all 0.3s;
}
.partners .right-arrow:hover {
  background: url("../img/Icon_Right_arrow.png") center right no-repeat;
  background-size: contain;
}

.token-sale-condition {
  background: url("../img/Vector_Smart_Object 2.png") center center no-repeat;
  background-size: 100%;
  width: 511px;
  height: 221px;
  margin: 5% auto;
}
.token-sale-condition .block:nth-child(2) {
  padding: 40px 0 40px 0;
}
.token-sale-condition .wrapper {
  margin: 0 auto;
  padding: 30px 0;
}
.token-sale-condition h2 {
  color: #0093ff;
  font-family: "SofiaProSemiBold";
  font-size: 29px;
}
.token-sale-condition p {
  padding: 0 10px 0 14px;
}

@media all and (max-width: 898px) {
  .slogan {
    width: 718px;
    min-height: 102px;
    margin-top: 50px;
  }
  .slogan h1 {
    font-size: 51px;
  }

  .try-demo {
    width: 420px;
    height: 52px;
  }
  .try-demo-button {
    height: 52px;
    line-height: 52px;
  }
  .try-demo a {
    font-size: 16px;
  }
  .try-demo .whitelist-registration {
    padding-left: 35px;
    font-size: 16px;
  }

  nav {
    height: 65px;
  }
  nav ul li a {
    font-size: 14px;
  }

  .documents .wrapper {
    width: 657px;
    height: 147px;
    padding-top: 10px;
    margin: 0 auto;
  }
  .documents .wrapper a p {
    font-size: 16px;
  }
  .documents .block {
    padding: 0;
  }

  .social {
    margin-top: 120px;
  }

  .footer {
    width: 664px;
  }

  .partners {
    width: 698px;
  }
  .partners .wrapper {
    width: 600px;
    margin: 0 auto;
  }

  .token-sale-condition h2 {
    font-size: 24px;
  }
}
@media all and (max-width: 720px) {
  .slogan {
    width: 100%;
  }
  .slogan h1 {
    font-size: 41px;
  }

  nav {
    width: 565px;
  }
  nav .border {
    padding: 0px 20px;
  }

  .documents {
    width: 100%;
  }
  .documents .wrapper {
    width: 100%;
  }
  .documents .wrapper p,
  .documents .wrapper a {
    font-size: 14px;
  }
  .documents .wrapper a {
    margin-top: 0px;
  }
  .documents .wrapper a p {
    padding: 0 8px 0 6px;
  }

  .footer {
    width: 114px;
    height: 126px;
    flex-wrap: wrap;
  }
  .footer a {
    margin-right: 3px;
  }

  .partners {
    width: 550px;
  }
  .partners .wrapper {
    width: 500px;
    margin: 0 auto;
  }
}
@media all and (max-width: 550px) {
  .container {
    padding: 10% 0;
  }

  .logo a {
    background-size: contain;
    width: 49px;
    height: 63px;
  }

  .slogan {
    background: url("../img/BrandPhrase_form.png") center center no-repeat;
    background-size: contain;
    width: 285px;
    height: 80px;
    margin: 20px auto;
  }
  .slogan h1 {
    font-size: 26px;
    width: 208px;
  }

  .try-demo {
    width: 280px;
    height: 40px;
  }
  .try-demo a {
    font-size: 12px;
  }
  .try-demo .whitelist-registration {
    font-size: 12px;
    padding-left: 10px;
  }
  .try-demo-button {
    width: 133px;
    height: 40px;
    line-height: 40px;
  }

  nav {
    background: none;
    width: 281px;
    height: 72px;
    border-radius: 15px;
    border: 1px solid #1ea9ff;
    background-color: rgba(255, 255, 255, 0.75);
  }

  nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 215px;
  }
  nav ul li:first-child {
    padding-bottom: 10px;
  }
  nav ul li a {
    font-size: 11px;
  }
  nav .border {
    border: none;
    margin: 0;
    padding: 0 24px 0 0;
  }

  .documents {
    background: url(../img/block_.png) center center no-repeat;
    background-size: contain;
    width: 268px;
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
  }
  .documents .wrapper {
    width: 657px;
    height: 105px;
    padding-top: 0;
    margin: 0 auto;
  }
  .documents .wrapper a {
    font-size: 10px;
  }
  .documents .wrapper a p {
    font-size: 12px;
  }
  .documents .wrapper .bounty,
  .documents .wrapper .one-paper,
  .documents .wrapper .whitepaper {
    width: 26px;
    height: 17px;
  }
  .documents .wrapper img {
    width: 14px;
    height: 13px;
  }

  .social {
    margin-top: 33px;
  }
  .social .flex {
    width: 125px;
  }
  .social .icons {
    width: 32px;
    height: 31px;
  }
  .social .icons i {
    line-height: 31px;
    color: #0495fe;
    font-size: 16px;
  }

  .footer {
    background: url("../img/Footer_Form.png") center center no-repeat;
    background-size: contain;
    border: none;
    border-radius: 0;
    width: 258px;
    height: 61px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer a {
    font-size: 10px;
    white-space: nowrap;
    margin: 5px 20px 0 20px;
  }
  .footer .last-in-mobile {
    order: 1;
    width: 175px;
  }

  .partners {
    width: 310px;
  }
  .partners .wrapper {
    width: 240px;
    margin: 0 auto;
  }
  .partners img {
    width: 95px;
    padding: 0;
    margin-right: 5px;
  }
  .partners .your-class-arrow {
    width: 94%;
  }
  .partners .left-arrow,
  .partners .right-arrow {
    width: 22px;
    height: 11px;
  }

  .token-sale-condition {
    width: 280px;
    height: 124px;
  }
  .token-sale-condition h2 {
    font-size: 16px;
  }
  .token-sale-condition p {
    font-size: 11px;
  }
  .token-sale-condition .wrapper {
    padding: 17px 0;
  }
  .token-sale-condition .block:nth-child(2) {
    padding: 20px 0 20px 0;
  }
}
@media all and (max-width: 820px) and (orientation: landscape) {
  .bg {
    min-height: 100%;
  }
}
@media all and (max-width: 1024px) and (orientation: landscape) {
  .bg {
    min-height: 1185px;
  }
}
@media all and (max-width: 1366px) and (orientation: landscape) {
  .bg {
    min-height: 1220px;
  }
}

/*# sourceMappingURL=style.css.map */
