@import "_reset";
@import "_fonts";
@import "fight";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "SofiaPro";
  font-size: 16px;
}
.bg {
  background: url(../img/jpg-01.jpg) center center no-repeat;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 785px;
  z-index: -1;
}
// #bg,
// #bg-game {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
// }

// .bgwidth {
//   width: 100%;
//   height: 100%;
// }
// .bgheight {
//   width: 100%;
//   height: 100%;
// }
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 3% 0 0 0;
}
.main {
  padding: 5% 0 3% 0;
}
.main-token-sale {
  padding: 3% 0 0 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.logo {
  margin-bottom: 3%;
  a {
    background: url("../img/Logo.png") center center no-repeat;
    display: block;
    width: 107px;
    height: 137px;
    margin: 0 auto;
    transition: all 0.3s;
  }
}
.slogan {
  background: url("../img/BrandPhrase.png") center center no-repeat;
  background-size: contain;
  //background-size: 90%;
  width: 933px;
  min-height: 150px;
  margin-bottom: 3%;
  h1 {
    font-family: "SofiaProSemiBold";
    color: #0093ff;
    font-size: 65px;
    text-align: center;
    padding-bottom: 10px;
  }
}
.try-demo {
  width: 537px;
  height: 69px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: 1px solid #1ea9ff;
  background-color: #ffffff;
  font-family: "SofiaProSemiBold";
  &-button {
    display: inline-block;
    width: 178px;
    height: 69px;
    box-shadow: 0 3px 6px 1px rgba(18, 64, 107, 0.13), inset 0 2px 0 #58b9ff;
    border-radius: 25px;
    background-color: #1ea9ff;
    color: #ffffff;
    font-size: 21px;
    margin-top: -1px;
    //padding: 20px 47px;
    margin-left: -2px;
    line-height: 68px;
    text-align: center;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 7px 12px 1px rgba(18, 64, 107, 0.06);
      background-color: #ffffff;
      color: #1ea9ff;
    }
  }
  .whitelist-registration {
    color: #0093ff;
    font-size: 21px;
    padding-left: 50px;
  }
}
nav {
  background: url("../img/Slider.png") center center no-repeat;
  background-size: contain;
  height: 98px;
  .flex {
    justify-content: space-around;
  }
  ul li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    a {
      color: #000000;
      font-family: "SofiaPro";
      font-size: 20px;
      display: block;
      transition: all 0.3s;
      &:hover {
        text-shadow: -1px 0px 0px #000000;
        filter: dropshadow(color=#000000, offx=-1, offy=-1);
        filter: shadow(color=#000000, direction=135, strength=2);
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2)";
      }
    }
    .active {
      text-shadow: -1px 0px 0px #000000;
      filter: dropshadow(color=#000000, offx=-1, offy=0);
      filter: shadow(color=#000000, direction=135, strength=2);
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2)";
    }
  }
  .border {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 10px 20px;
    margin: 0 25px;
  }
}
.documents {
  background: url("../img/documents.png") center center no-repeat;
  background-size: contain;
  margin-top: 30px;
  .flex {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .block {
    &:last-child {
      padding-top: 0;
    }
  }
  .wrapper {
    width: 876px;
    height: 195px;
    margin: 0 auto;
    p {
      font-family: "SofiaProSemiBold";
      font-size: 21px;
      padding: 0 17px 0 10px;
    }
    a {
      color: #000000;
      position: relative;
      margin-top: 3px;
      padding-bottom: 5px;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000000;
        transition: all 0.4s;
        transform: scaleX(0);
      }
      &:hover::before {
        transform: scaleX(1);
      }

      p {
        font-family: "SofiaProSemiBold";
        font-size: 21px;
        padding: 0 17px 0 10px;
        display: inline-block;
      }
    }
    img {
      margin-left: 12px;
    }
  }
  .bounty,
  .one-paper,
  .whitepaper {
    width: 43px;
    height: 27px;
  }
  .bounty {
    background: url("../img/Icon_coin_blue.png") center center no-repeat;
    background-size: contain;
  }
  .one-paper {
    background: url("../img/icon_Paper_blue.png") center center no-repeat;
    background-size: contain;
  }
  .whitepaper {
    background: url("../img/Icon_document-blue.png") center center no-repeat;
    background-size: contain;
  }
}
.social {
  margin-bottom: 5%;
  margin-top: 40px;
  .flex {
    margin: 0 auto;
    width: 230px;
    justify-content: space-between;
  }
  .icons {
    width: 56px;
    height: 56px;
    border-radius: 50px;
    background-color: #ffffff;
    border: 2px solid #0495fe;
    text-align: center;
    transition: all 0.3s;
    &:hover {
      background: #0495fe;
      & i {
        color: #ffffff;
      }
    }
    i {
      line-height: 56px;
      color: #0495fe;
      font-size: 21px;
    }
  }
}
.footer {
  min-width: 65%;
  height: 73px;
  border: 1px solid #1ea9ff;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.75);
  justify-content: space-around;
  margin: 0 auto 3% auto;
  a {
    color: #000000;
    position: relative;
    margin-top: 5px;
    padding-bottom: 5px;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #1ea9ff;
      transition: all 0.4s;
      transform: scaleX(0);
    }
    &:hover {
      color: #1ea9ff;
      &::before {
        transform: scaleX(1);
      }
    }
  }
}

//partners page
.partners {
  background: url("../img/partners.png") center center no-repeat;
  width: 849px;
  position: relative;
  background-size: contain;
  margin: 30px auto;
  .wrapper {
    justify-content: space-between;
    width: 749px;
    height: 126px;
    margin: 0 auto;
  }
  img {
    margin: 0 auto;
  }
  .slick-list {
    padding: 0 !important;
  }

  .your-class-arrow {
    display: flex;
    position: absolute;
    width: 97%;
    top: 60px;
    left: 10px;
    justify-content: space-between;
  }
  .left-arrow {
    background: url("../img/Icon_Left_arrow-active.png") center left no-repeat;
    background-size: contain;
    width: 37px;
    height: 11px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: url("../img/Icon_Left_arrow.png") center left no-repeat;
      background-size: contain;
    }
  }
  .right-arrow {
    background: url("../img/Icon_Right_arrow-active.png") center right no-repeat;
    background-size: contain;
    width: 37px;
    height: 11px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: url("../img/Icon_Right_arrow.png") center right no-repeat;
      background-size: contain;
    }
  }
}

//token-sale-condition page
.token-sale-condition {
  background: url("../img/Vector_Smart_Object 2.png") center center no-repeat;
  background-size: 100%;
  width: 511px;
  height: 221px;
  margin: 5% auto;
  .block:nth-child(2) {
    padding: 40px 0 40px 0;
  }
  .wrapper {
    margin: 0 auto;
    padding: 30px 0;
  }
  h2 {
    color: #0093ff;
    font-family: "SofiaProSemiBold";
    font-size: 29px;
  }
  p {
    padding: 0 10px 0 14px;
  }
}

@media all and (max-width: 898px) {
  .slogan {
    width: 718px;
    min-height: 102px;
    margin-top: 50px;
    h1 {
      font-size: 51px;
    }
  }
  .try-demo {
    width: 420px;
    height: 52px;
    &-button {
      height: 52px;
      line-height: 52px;
    }
    a {
      font-size: 16px;
    }
    .whitelist-registration {
      padding-left: 35px;
      font-size: 16px;
    }
  }
  nav {
    height: 65px;
    ul li {
      a {
        font-size: 14px;
      }
    }
  }
  .documents {
    .wrapper {
      width: 657px;
      height: 147px;
      padding-top: 10px;
      margin: 0 auto;
      a {
        p {
          font-size: 16px;
        }
      }
    }
    .block {
      padding: 0;
    }
  }
  .social {
    margin-top: 120px;
  }
  .footer {
    width: 664px;
  }
  .partners {
    width: 698px;
    .wrapper {
      width: 600px;
      margin: 0 auto;
    }
  }
  .token-sale-condition h2 {
    font-size: 24px;
  }
}
@media all and (max-width: 720px) {
  .slogan {
    width: 100%;
    h1 {
      font-size: 41px;
    }
  }
  nav {
    width: 565px;
    .border {
      padding: 0px 20px;
    }
  }
  .documents {
    width: 100%;
    .wrapper {
      width: 100%;
      p,
      a {
        font-size: 14px;
      }

      a {
        margin-top: 0px;
        p {
          padding: 0 8px 0 6px;
        }
      }
    }
  }
  .footer {
    width: 114px;
    height: 126px;
    flex-wrap: wrap;
    a {
      margin-right: 3px;
    }
  }
  .partners {
    width: 550px;
    .wrapper {
      width: 500px;
      margin: 0 auto;
    }
  }
}

@media all and (max-width: 550px) {
  .container {
    padding: 10% 0;
  }
  .logo {
    a {
      background-size: contain;
      width: 49px;
      height: 63px;
    }
  }
  .slogan {
    background: url("../img/BrandPhrase_form.png") center center no-repeat;
    background-size: contain;
    width: 285px;
    height: 80px;
    margin: 20px auto;
    h1 {
      font-size: 26px;
      width: 208px;
    }
  }
  .try-demo {
    width: 280px;
    height: 40px;
    a {
      font-size: 12px;
    }
    .whitelist-registration {
      font-size: 12px;
      padding-left: 10px;
    }
    &-button {
      width: 133px;
      height: 40px;
      line-height: 40px;
    }
  }
  nav {
    background: none;
    width: 281px;
    height: 72px;
    border-radius: 15px;
    border: 1px solid #1ea9ff;
    background-color: rgba(255, 255, 255, 0.75);
  }
  nav {
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 215px;
      li:first-child {
        padding-bottom: 10px;
      }
      li {
        a {
          font-size: 11px;
        }
        .active {
          //font-weight: bold;
        }
      }
    }
    .border {
      border: none;
      margin: 0;
      padding: 0 24px 0 0;
    }
  }
  .documents {
    background: url(../img/block_.png) center center no-repeat;
    background-size: contain;
    width: 268px;
    height: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
    .wrapper {
      width: 657px;
      height: 105px;
      padding-top: 0;
      margin: 0 auto;

      a {
        font-size: 10px;
        p {
          font-size: 12px;
        }
      }
      .bounty,
      .one-paper,
      .whitepaper {
        width: 26px;
        height: 17px;
      }
      img {
        width: 14px;
        height: 13px;
      }
    }
  }
  .social {
    margin-top: 33px;
    .flex {
      width: 125px;
    }
    .icons {
      width: 32px;
      height: 31px;
      i {
        line-height: 31px;
        color: #0495fe;
        font-size: 16px;
      }
    }
  }
  .footer {
    background: url("../img/Footer_Form.png") center center no-repeat;
    background-size: contain;
    border: none;
    border-radius: 0;
    width: 258px;
    height: 61px;
    flex-wrap: wrap;
    justify-content: center;
    a {
      font-size: 10px;
      white-space: nowrap;
      margin: 5px 20px 0 20px;
    }
    .last-in-mobile {
      order: 1;
      width: 175px;
    }
  }
  .partners {
    width: 310px;
    .wrapper {
      width: 240px;
      margin: 0 auto;
    }
    img {
      width: 95px;
      padding: 0;
      margin-right: 5px;
    }
    .your-class-arrow {
      width: 94%;
    }
    .left-arrow,
    .right-arrow {
      width: 22px;
      height: 11px;
    }
  }
  .token-sale-condition {
    width: 280px;
    height: 124px;
    h2 {
      font-size: 16px;
    }
    p {
      font-size: 11px;
    }
    .wrapper {
      padding: 17px 0;
    }
    .block:nth-child(2) {
      padding: 20px 0 20px 0;
    }
  }
}
@media all and (max-width: 820px) and (orientation: landscape) {
  .bg {
    min-height: 100%;
  }
  // .footer {
  //   width: 470px;
  // }
}
@media all and (max-width: 1024px) and (orientation: landscape) {
  .bg {
    min-height: 1185px;
  }
}
@media all and (max-width: 1366px) and (orientation: landscape) {
  .bg {
    min-height: 1220px;
  }
}
